<!-- navbar-inverse bg-primary text-white  -->
<nav class="navbar navbar-toggleable-md fixed-top" id="navig">
  <!-- <button class="navbar-toggler navbar-toggler-right bg-info" type="button"
    data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon bg-white rounded text-center text-white">_</span>
  </button> -->
  <button class="navbar-toggler navbar-toggler-right py-2 bg-info" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="text-center text-white">+</span>
 </button>
  <a class="navbar-brand" routerLink="/">PhotoBlog</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <!-- <span class="sr-only">(current)</span> -->
      <li class="nav-item" aria-controls="navbarsExampleDefault"
        aria-expanded="false" aria-label="Toggle navigation"
        data-target="#navbarsExampleDefault" data-toggle="collapse">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item" aria-controls="navbarsExampleDefault"
        aria-expanded="false"
        aria-label="Toggle navigation" data-target="#navbarsExampleDefault"
        data-toggle="collapse">
        <a class="nav-link" routerLink="/photos/upload">Upload photo</a>
      </li>
      <li class="nav-item" aria-controls="navbarsExampleDefault"
        aria-expanded="false"
        aria-label="Toggle navigation" data-target="#navbarsExampleDefault"
        data-toggle="collapse">
        <a class="nav-link" routerLink="/photos/all">
          Gallery
        </a>
      </li>
    </ul>
    <hr>

    <!-- SIGN OPTIONS - IF AUTHENTICATED [Sign Out] ELSE [Sign In or Sign Up] -->
    <div *ngIf="this.authService.isAuthenticated();else sign_in_or_up"
      class="my-2.
      my-lg-0">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="javascript:void(0)">
            <ul class="navbar-nav mr-auto"
              [routerLink]="['/users/profile/',this.authService.getUserId()]"
              aria-controls="navbarsExampleDefault" aria-expanded="false"
              aria-label="Toggle navigation"
              data-target="#navbarsExampleDefault" data-toggle="collapse">
              <li class="nav-item">
                <img class="nav-link" id="profile-pic"
                  src={{this.authService.getProfilePicture()}} alt="profile">
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">{{this.authService.getUsername()}}</a>
              </li>
            </ul>
          </a>
        </li>
        <li class="nav-item"
          aria-controls="navbarsExampleDefault" aria-expanded="false"
          aria-label="Toggle navigation"
          data-target="#navbarsExampleDefault" data-toggle="collapse">
          <a class="nav-link" routerLink="/auth/signout">
            Sign out
          </a>
        </li>
      </ul>
    </div>
    <ng-template #sign_in_or_up>
      <div class="my-2 my-lg-0">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"
            aria-controls="navbarsExampleDefault" aria-expanded="false"
            aria-label="Toggle navigation"
            data-target="#navbarsExampleDefault" data-toggle="collapse">
            <a class="nav-link" routerLink="/auth/signin">
              Sign in
            </a>
          </li>
          <li>
            <a class="nav-link" id="or">or</a>
          </li>
          <li class="nav-item" aria-controls="navbarsExampleDefault"
            aria-expanded="false"
            aria-label="Toggle navigation" data-target="#navbarsExampleDefault"
            data-toggle="collapse">
            <a class="nav-link" routerLink="/auth/signup">
              Sign up
            </a>
          </li>
        </ul>
      </div>
    </ng-template>

  </div>

</nav>