.invalid-input-field {
  border: 1px solid red;
}

label {
  cursor: pointer;
  display: block;
  /* Style as you please, it will become the visible UI component. */
}

#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

img {
  margin: 20px;
}

.user-profile {
  background-color: rgb(235, 235, 235);
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}
