<div class="row">
  <div class="col-md-3"></div>

  <div *ngIf="this.userData != null" class="col-md-6 text-center user-profile">
    <h1>Edit profile</h1>

    <p>Email: {{this.userData.email}}</p>

    <form [formGroup]="userForm" (ngSubmit)="edit()">

      <div class="form-group row">
        <label for="fullName" class="col-sm-2 col-form-label">Full Name</label>
        <div class="col-sm-10">
          <input formControlName="fullName" type="text" class="form-control"
            id="fullName" placeholder="Full Name">
        </div>
      </div>

      <div class="form-group row">
        <label for="profilePicture" class="col-sm-2 col-form-label">Profile
          picture</label>
        <div class="col-sm-10">
          <input formControlName="profilePicture" type="text"
            class="form-control"
            id="profilePicture" placeholder="Profile picture">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-2 col-form-label"></div>
        <div class="col-sm-10">
          <img class="img-fluid"
            [src]="this.userForm.get('profilePicture').value" alt="profile
            picture">
        </div>
      </div>

      <div class="form-group row">
        <label for="location" class="col-sm-2 col-form-label">Location</label>
        <div class="col-sm-10">
          <input formControlName="location" type="text"
            class="form-control"
            id="location" placeholder="Location">
        </div>
      </div>

      <div class="form-group row">
        <label for="website" class="col-sm-2 col-form-label">Website</label>
        <div class="col-sm-10">
          <input formControlName="website" type="text"
            class="form-control"
            id="website" placeholder="Website">
        </div>
      </div>

      <div class="form-group row">
        <label for="bio" class="col-sm-2 col-form-label">Bio</label>
        <div class="col-sm-10">
          <textarea formControlName="bio" placeholder="Bio" id="bio"></textarea>
        </div>
      </div>

      <div>
        <div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>

    </form>

    <br>
    <!-- <a routerLink="['/user/edit/', userData.userId]" class="btn btn-danger">Delete</a> -->
  </div>

  <div class="col-md-3"></div>
</div>