<div class="row">
  <div class="col-md-3"></div>

  <div *ngIf="this.userData != null" class="col-md-6 text-center user-profile">
    <h1>Edit profile</h1>

    <p>Email: {{this.userData.email}}</p>


    <div>

      <div *ngIf="this.url">
        <label for="upload-profile">
          <img [src]="url">
          <input type="file" (change)="saveImage($event)" id="upload-photo"
            hidden/>
        </label>
      </div>
      <div *ngIf="!this.url">
        <input type="file" (change)="saveImage($event)">
      </div>

    </div>

    <div *ngIf="this.userForm.get('profilePicture').value;">
      <h1>Ima picture</h1>
    </div>

    <form [formGroup]="userForm" (ngSubmit)="edit()">

      <div class="form-group row">
        <label for="category" class="col-sm-2 col-form-label">Full Name</label>
        <br>
        <div class="col-sm-10">
          <input formControlName="fullName" type="text"
            id="fullName" placeholder="Full Name"
            [class]="this.userForm.get('fullName').valid ||
            !this.userForm.get('fullName').touched?
            'form-control' : 'form-control invalid-input-field'">
        </div>
      </div>

      <div class="form-group row">
        <label for="category" class="col-sm-2 col-form-label">Location</label>
        <br>
        <div class="col-sm-10">
          <input formControlName="location" type="text"
            id="location" placeholder="Location"
            [class]="this.userForm.get('location').valid ||
            !this.userForm.get('location').touched?
            'form-control' : 'form-control invalid-input-field'">
        </div>
      </div>

      <div class="form-group row">
        <label for="category" class="col-sm-2 col-form-label">Website</label>
        <div class="col-sm-10">
          <input formControlName="website" type="url"
            id="website" placeholder="Website"
            [class]="this.userForm.get('website').valid ||
            !this.userForm.get('website').touched?
            'form-control' : 'form-control invalid-input-field'">
        </div>
      </div>

      <div class="form-group row">
        <label for="category" class="col-sm-2 col-form-label">Bio</label>
        <div class="col-sm-10">
          <textarea formControlName="bio" type="text"
            id="bio" placeholder="Bio"
            [class]="this.userForm.get('bio').valid ||
            !this.userForm.get('bio').touched?
            'form-control' : 'form-control invalid-input-field'"></textarea>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Submits</button>

    </form>


    <br>
    <div *ngIf="(this.authService.getUserId() === userData.userId) ||
      (this.isAdmin)">

      <div *ngIf="this.isAdmin">
        <button *ngIf="this.userData.admin === true" class="btn
          btn-outline-info"
          (click)="disableAdminRole()">
          Disable admin
        </button>

        <br>

        <button *ngIf="this.userData.admin === false"
          class="btn btn-info"
          (click)="enableAdminRole()">
          Make admin
        </button>
      </div>

      <br>
      <a
        [routerLink]="['/user/delete/', userData.userId]"
        class="btn btn-danger">
        Delete
      </a>

    </div>
  </div>

  <div class="col-md-3"></div>
</div>