<div class="container">
  <div *ngIf="this.authService.isAuthenticated();else sign_in_or_up"
    id="home-join">
    <h1>Welcome {{this.authService.getUsername()}}!</h1>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <a class="btn btn-outline-light" routerLink="/photos/all">View photos
          for free</a>
        <a cllass="btn btn-outline-light">or</a>
        <a class="btn btn-outline-light" routerLink="/photos/upload">upload
          yours</a>
      </div>
      <div class="col-md-4"></div>

    </div>
  </div>
  <ng-template #sign_in_or_up>
    <div id="home-join">
      <h1>Wellcome!</h1>

      <br>
      <a class="btn btn-info btn-lg active"
        role="button"
        aria-pressed="true"
        routerLink="/auth/signup">
        Join now
      </a>
    </div>
  </ng-template>
</div>