<div *ngIf="this.photo" class="row">
  <div class="col-md-1"></div>
  <div class="col-md-8">
    <div id="photo-preview">
      <img src={{photo.downloadURL}} class="img-fluid" id="photo" alt="Responsive image">
    </div>
  </div>
  <div class="col-md-3">
    <h3>{{photo.title}}</h3>
    <p>Author: {{photo.username}}</p>
    <p>Creation: {{photo.creationDate}}</p>

    <div *ngIf="this.photo.description">
      <p>Description</p>
      <hr>
      <p>{{this.photo.description}}</p>
    </div>

    <a [routerLink]="['/photos/edit/', photo.name]" class="btn btn-default">Edit</a>
    <a href="javascript:void(0)" (click)="deletePhoto()" class="btn btn-danger">Delete</a>
  </div>
</div>