<div *ngIf="this.photo" class="row">
  <div class="col-md-8">
    <div id="photo-preview">
      <img src={{photo.downloadURL}} class="img-fluid" id="photo"
        alt="Responsive image">
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{photo.title}}</h3>
    <p>Author: <a [routerLink]="['/user/profile/', photo.userId]">{{photo.username}}</a></p>
    <p>Location: {{photo.location}}</p>
    <p>Category: {{photo.category}}</p>
    <p>fom: <i>{{photo.creationDate}}</i></p>

    <div *ngIf="this.photo.description">
      <p>Description:</p>
      <p><i>{{this.photo.description}}</i></p>
      <hr>
    </div>

    <div *ngIf="(this.authService.getUserId() === this.photo.userId) ||
      (this.isAdmin)">
      <a [routerLink]="['/photos/edit/', photo.name]" class="btn btn-primary">Edit</a>
      <a href="javascript:void(0)" (click)="deletePhoto()" class="btn
        btn-danger">Delete</a>
    </div>
    <hr>
    <div>
      <app-photo-likes [id]="id"></app-photo-likes>
      <app-photo-comments [id]="id"></app-photo-comments>
    </div>
  </div>
</div>

<div *ngIf="!this.photos" class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div *ngIf="!this.photo" class="row">
      <img src="../../../../assets/images/loading.gif" alt="">
    </div>
  </div>
</div>