<h1>Sign Up</h1>
<form [formGroup]="user" (ngSubmit)="signUp()">

  <div class="form-group row">
    <label for="email" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input formControlName="email" type="email"
        id="email" placeholder="Email"
        [class]="this.user.get('email').valid ||
        !this.user.get('email').touched?
        'form-control' : 'form-control invalid-input-field'">
    </div>
  </div>

  <div class="form-group row">
    <label for="password" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input formControlName="password" type="password"
        [class]="this.user.get('password').valid ||
        !this.user.get('password').touched?
        'form-control' : 'form-control invalid-input-field'">
    </div>
  </div>

  <div class="form-group row">
    <label for="confirmPassword" class="col-sm-2 col-form-label">Confirm
      Password</label>
    <div class="col-sm-10">
      <input formControlName="confirmPassword" type="password"
        class="form-control">
    </div>
  </div>

  <div class="form-group row">
    <label for="displayName" class="col-sm-2 col-form-label">Full Name</label>
    <div class="col-sm-10">
      <input formControlName="displayName"
        type="text" id="displayName" placeholder="Full Name"
        [class]="this.user.get('displayName').valid ||
        !this.user.get('displayName').touched?
        'form-control' : 'form-control invalid-input-field'">
    </div>
  </div>

  <div class="form-group row">
    <div class="offset-sm-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Sign up</button>
    </div>
  </div>

</form>

<span class="offset-sm-2">Already have an account?</span>
<a routerLink="/auth/signin"> Sign in </a>