<div *ngIf="this.photos">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <select [(ngModel)]="category" (change)="changeCategory()">
        <option [ngValue]="-1" selected>All</option>
        <option *ngFor="let category of categories;let i= index;" [ngValue]="i">{{category}}</option>
      </select>
      <br>
      <div *ngIf="this.category > -1">
        <h1>{{this.categories[this.category]}}</h1>
      </div>
    </div>
    <div class="col-md-4">
    </div>
  </div>

  <div class="album text-muted">
    <div class="row">
      <div`
        *ngFor="let photo of photos;"
        [routerLink]="['/photos/preview/', photo.name]"
        class="col-sm-3 img-fluid image">

        <img src={{photo.downloadURL}} alt="pic" class="img-thumbnail">
        <p>{{photo.title}}</p>
        <p>by {{photo.username}}</p>
        <p>{{photo.creationDate}}</p>

      </div>
    </div>
  </div>
</div>