.dropzone {
  display: block;
  text-align: center;
  align-items: center;
  justify-content: center;
}

label {
  cursor: pointer;
  /* Style as you please, it will become the visible UI component. */
}

#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

#image-upload-area {
  /* background-color: rgb(238, 238, 238); */
  background-color: rgb(235, 235, 235);
  color: #0162AD;
  border-radius: 50px;
  padding: 10%;
  margin: 10%;
}

.upload-form {
  padding-top: 50px;
  padding-bottom: 150px;
  height: 100%;
  width: 100%;
  background-color: rgb(235, 235, 235);
  border-radius: 20px;
}

.invalid-input-field {
  border: 1px solid red;
}